<!-- #* [S] COMMON HEADER *# -->
#parse( "/common/header.vm" )
<!-- #* [E] COMMON HEADER *# -->

<body>
	<div id="main">
	
		<input type="button" id="button_1" value="확인" />
		<input type="button" id="button_2" value="취소" />
		
		<select id="select_1">
			<option value="1111">쿠폰1</option>
			<option value="2222">쿠폰2</option>
			<option value="3333">쿠폰3</option>		
		</select>
	</div>
	
	<div class="_container"></div>
	
	
	<!-- #* [S] Common BODYJS *# -->
	#parse( "/common/bodyJS.vm" )
	<!-- #* [E] Common BODYJS *# -->
	
	<!-- http://backbonejs.org/examples/todos/index.html -->	
	<script type="text/javascript">
		jQuery(function() {
			"use strict";
			
			var AppView = Backbone.View.extend({
				el: jQuery("#main"),
			    
			    initialize: function( options ) {
			    	var s = this;
			    },
			    
			    events: {
			      "click #button_1"		: "confirm",
			      "click #button_2"		: "cancel",
			      "change #select_1"	: "change" 
			    },
			    
			    confirm : function(e) {
					var s = this;
					console.log("click");
					
					jQuery.ajax({
						crossOrigin : true,
						dataType	: "html",
						type		: "GET",
						url			: "http://www.cjmall.com/event_prd/2016/12/20161128_cooking_pc.jsp",
						beforeSend : function(jqXHR) {
							//jqXHR.overrideMimeType("application/x-www-form-urlencoded; charset=euc-kr");
							jqXHR.overrideMimeType("text/html; charset=euc-kr");
						},
						success: function(data) {
							jQuery("._container").empty();
							jQuery("._container").html(data);
						}
					});
					
			    },
			    
			    cancel : function(e) {
					var s = this;
					debugger;
					console.log("cancel");
				},
				
			    change : function(e) {
			    	var value = e.target.value;
			    	alert(value);
			    },
			    
			    render: function() {
					var s = this;
			    }
			    
			});

			var App = new AppView();
		});
	</script>
</body>

<!-- #* [S] Common FOOTER *# -->
#parse( "/common/footer.vm" )
<!-- #* [E] Common FOOTER *# -->