<!-- #* [S] COMMON HEADER *# -->
#parse( "/common/header.vm" )
<!-- #* [E] COMMON HEADER *# -->

<!-- <body class="hold-transition skin-blue sidebar-mini"> -->
<body class="skin-blue layout-boxed sidebar-mini">

	<!-- #* [S]	WRAPPER *# -->
	<div class="wrapper">
		<!-- #* [S]	COMMON GNB *# -->
		#parse( "/common/gnb.vm" )
		<!-- #* [E]	COMMON GNB *# -->

		<!-- #* [S] Common SIDEBAR *# -->
		#parse( "/common/sidebar.vm" )
		<!-- #* [E] Common SIDEBAR *# -->

		<!-- #* [S] CONTENTS AREA *# -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Code Generator <small></small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i> SungJun's Home</a></li>
					<li class="active">Code Generator</li>
				</ol>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-lg-6">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Paste Fields</h3>
							</div>
							<div class="box-body">
								<textarea id="queryEditor" name="queryEditor" style="display: none;"></textarea>
							</div>
						</div>
					</div>
					
	                <div class="col-lg-6">
	                	<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Copy Fields</h3>
								<div class="box-tools pull-right">
									<div class="btn-group open">
										<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-bars"></i></button>
										<ul class="dropdown-menu pull-right" role="menu">
											<li><a href="#" id="navCamel">CamelCase</a></li>
											<li><a href="#" id="navVO">VO</a></li>
											<li><a href="#" id="navResultMap">ResultMap</a></li>
											<li><a href="#" id="navSQL">SQL</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="box-body">
								<textarea id="queryViewer" name="queryViewer" style="display: none;"></textarea>
							</div>
						</div>
				</div>
			</section>
		</div>
		<!-- #* [E] CONTENTS AREA *# -->
		
		<!-- #* [S] Common BODYBOTTOM *# -->
		#parse( "/common/bodyBottom.vm" )
		<!-- #* [E] Common BODYBOTTOM *# -->
	</div>
	<!-- #* [E]	WRAPPER *# -->
	

	<!-- #* [S] Common BODYJS *# -->
	#parse( "/common/bodyJS.vm" )
	<!-- #* [E] Common BODYJS *# -->

	<script type="text/javascript">
		"use strict";

		/* #* Velocity 주석 in Javascript *# */
		(function(jQuery) {
			/* #* [S] Document Ready *# */
			jQuery(function() {
				/* #* [S] Init Function *# */
				var mime = "text/x-plsql";
  				// get mime type
  				if (window.location.href.indexOf("mime=") > -1) {
    				mime = window.location.href.substr(window.location.href.indexOf("mime=") + 5);
  				}

  				var configuration = {
					mode		: mime,
					lineNumbers	: true,
					extraKeys	: {"Ctrl-Space": "autocomplete"},
					dragDrop	: true,
					theme		: "mbo",
					styleActiveLine	: true,
				    matchBrackets	: true,
				    indentWithTabs	: true,
				    smartIndent		: true,
				    autofocus		: true,
				    hintOptions: {tables: {
				      users: {name: null, score: null, birthDate: null},
				      countries: {name: null, population: null, size: null}
				    }}
  				};

  				// Code Editor
				var queryEditor = CodeMirror.fromTextArea(jQuery("#queryEditor").get(0), configuration);

  				// Code Viewer
				configuration.autofocus=false;
				configuration.readOnly=true;
				var queryViewer = CodeMirror.fromTextArea(jQuery("#queryViewer").get(0), configuration);

				// Editor, Viewer Show

				/* #* [E] Init Function *# */

				/* #* [S] Pre Excute Function *# */
				/* #* [E] Pre Excute Function *# */

				/* #* [S] Event Binding *# */
				jQuery(".nav-tabs li").mouseover(function(e){
  					jQuery(e.target).click();
				});

				jQuery("#navCamel").bind("click", function(e){
					e.preventDefault();

					var convertData	= convert("camelcase");
					var outputData	= applyConvertedCode(convertData.convertType, convertData.output1, convertData.output2);
					queryViewer.setValue(outputData.output);
				});

				jQuery("#navVO").bind("click", function(e){
					e.preventDefault();

					var convertData	= convert("vo");
					var outputData	= applyConvertedCode(convertData.convertType, convertData.output1, convertData.output2);
					queryViewer.setValue(outputData.output);
				});

				jQuery("#navResultMap").bind("click", function(e){
					e.preventDefault();

					var convertData	= convert("resultMap");
					var outputData	= applyConvertedCode(convertData.convertType, convertData.output1, convertData.output2);
					queryViewer.setValue(outputData.output);

				});

				jQuery("#navSQL").bind("click", function(e){
					e.preventDefault();

					var convertSelect	= convert("select");
					var outputSelect	= applyConvertedCode(convertSelect.convertType, convertSelect.output1, convertSelect.output2);

					var convertInsert	= convert("insert");
					var outputInsert	= applyConvertedCode(convertInsert.convertType, convertInsert.output1, convertInsert.output2);

					var convertUpdate	= convert("update");
					var outputUpdate	= applyConvertedCode(convertUpdate.convertType, convertUpdate.output1, convertUpdate.output2);

					var convertDelete	= convert("delete");
					var outputDelete	= applyConvertedCode(convertDelete.convertType, convertDelete.output1, convertDelete.output2);

					queryViewer.setValue(
						outputSelect.output + "\n\n\n" +
						outputInsert.output + "\n\n\n" +
						outputUpdate.output + "\n\n\n" +
						outputDelete.output
					);
				});
				/* #* [E] Event Binding *# */

				/* #* [S] Trigger Event *# */
				// for Example
  				queryEditor.setValue("apple_pie1130\nkim_sung_jun\nhello_world");
  				jQuery("#navVO").trigger("click");
  				/* #* [E] Trigger Event *# */

				/* #* [S] Business Logics *# */
				function getTableName() {
					return "{DATABASE.TABLE} ";
				}

				function convert( convertType ) {
			        var input = queryEditor.getValue();

			        // 유효검사
			        input = input.trim();
			       	input = input.replace(" ", "\n");

			        var count = 0;
			        var output1 = "";
			        var output2 = "";

			        var lines = input.split(/\n/);
			        for (var i = 0, max_i = lines.length; i < max_i; i++) {
			            var before = lines[i];
			            before = jQuery.trim(before.toUpperCase());

			            // skip empty lines
			            if(before === "") {
			                continue;
			            }

			            // conversion
			            var after = before.toLowerCase().replace(/_(\w)/g, function(word) {
			                return word.toUpperCase();
			            });
			            after = after.replace(/_/g, "");

			            // make result for each
			            switch ( convertType ) {
							case "camelcase":		// Camelcase
								output1 += (after + "\n");
							break;

							case "vo":				// Value Object
								var modifier = "private";
				                var datatype = "String";

			                    output1 += (modifier + " " + datatype + " " + after + ";\n");
							break;

							case "resultMap":		// ResultMap
								output1 += ('\t<result property="' + after + '" column="' + before.toUpperCase() + '" />\n');
							break;

							case "select":
								// Select Query
								if(count == 0) {
				                    output1 += (before) + "\t\t\t AS " + (before);
				                }
				                else {
				                    output1 += ("\n\t," + before) + "\t\t\t AS " + (before);;
				                }

				                if(count == 0) {
				                    output2 += (before + " = #{" + after + "}\n");
				                }
				                else {
				                    output2 += ("\tAND " + before + " = #{" + after + "}\n");
				                }
							break;

							case "insert":			// Insert
								if(count == 0) {
				                    output1 += (before);
				                }
				                else {
				                    output1 += ("\n\t, " + before);
				                }

				                if(count == 0) {
				                    output2 += ("#{" + after + "}");
				                }
				                else {
				                    output2 += ("\n\t, #{" + after + "}");
				                }
							break;

							case "update":			// Update
								if(count == 0) {
				                    output1 += (before + " = #{" + after + "}");
				                }
				                else {
				                    output1 += (",\n\t" + before + " = #{" + after + "}");
				                }

				                if(count == 0) {
				                    output2 += (before + " = #{" + after + "}\n");
				                }
				                else {
				                    output2 += ("\tAND " + before + " = #{" + after + "}\n");
				                }
							break;

							case "delete":			// Delete
								if(count == 0) {
				                    output1 += (before + " = #{" + after + "}\n");
				                }
				                else {
				                    output1 += ("\tAND " + before + " = #{" + after + "}\n");
				                }
							break;

							default:
								output1 += (after + "\n");
							break;
						}

			            count++;
			        }

			        return {
			        	"convertType"	: convertType,
			        	"output1"		: output1,
			        	"output2"		: output2
			        }
			    }

				function applyConvertedCode (convertType, output1, output2) {
					var output = "";
			        switch ( convertType ) {
						case "camelcase":		// Camelcase
							output = output1;
						break;

						case "vo":				// Value Object
							output = output1;
						break;

						case "resultMap":		// ResultMap
							output = '<resultMap id="" class="">\n';
				            output += output1;
				            output += '</resultMap>';
						break;

						case "select":			// Select
							output = "SELECT ";
				            output += output1 + "\n";
				            output += "FROM " + getTableName() + " \n";
				            output += "WHERE ";
				            output += output2 + ";";
						break;

						case "insert":			// Insert
							output = "INSERT INTO " + getTableName() + "\n\t(" + output1 + ") \n";
				            output += "VALUES ( \n\t" + output2 + ")\n;";
						break;

						case "update":			// Update
							output = "UPDATE " + getTableName() + " \n";
				            output += "SET " + output1 + "\n";
				            output += "WHERE ";
				            output += output2 + ";";
						break;

						case "delete":			// Delete
							output = "DELETE FROM " + getTableName() + " \n";
				            output += "WHERE ";
				            output += output1 + ";";
						break;

						default:
						break;
					}

			        return {
			        	"output" : output
			        }
				}


	            /* #* [E] Business Logics *# */
			/* #* [E] Document Ready *# */
			});
		}(jQuery));
	</script>
</body>

<!-- #* [S] Common FOOTER *# -->
#parse( "/common/footer.vm" )
<!-- #* [E] Common FOOTER *# -->
