<!-- #* [S] COMMON HEADER *# -->
#parse( "/common/header.vm" )
<!-- #* [E] COMMON HEADER *# -->

<!-- <body class="hold-transition skin-blue sidebar-mini"> -->
<body class="skin-blue layout-boxed sidebar-mini">

	<!-- #* [S]	WRAPPER *# -->
	<div class="wrapper">
		<!-- #* [S]	COMMON GNB *# -->
		#parse( "/common/gnb.vm" )
		<!-- #* [E]	COMMON GNB *# -->

		<!-- #* [S] Common SIDEBAR *# -->
		#parse( "/common/sidebar.vm" )
		<!-- #* [E] Common SIDEBAR *# -->
		
		<!-- #* [S] CONTENTS AREA *# -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					News <small> $!{title}</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i> SungJun's Home</a></li>
					<li class="active">News</li>
				</ol>
			</section>

			<section class="content">
				<div class="row">
					<div class="pull-right" style="margin-right:40px; margin-bottom:-10px;">
						<div class="btn-group">
							<button type="button" class="btn btn-danger btn-sm" onclick="location.href='/news/'">종합뉴스</button>
							<button type="button" class="btn btn-danger btn-sm" onclick="location.href='/news/sisa'">시사뉴스</button>
							<button type="button" class="btn btn-danger btn-sm" onclick="location.href='/news/sports'">스포츠뉴스</button>
							<button type="button" class="btn btn-danger btn-sm" onclick="location.href='/news/entertainment'">연예뉴스</button>
	                    </div>
                    </div>
				</div>
			
				<div class="row">
					<div class="col-md-12">
						<ul class="timeline">
							<li class="time-label"><span class="bg-red"> 10 Feb. 2016 </span></li>
							
							#foreach( $eachData in $!{rankNewsList} )
							<li>
								<i class="fa fa-envelope bg-blue"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> $!{eachData.receiveDate}</span>

									<h3 class="timeline-header">
										$!{eachData.title} 
									</h3>

									<div class="timeline-body">
										#if ( $!{eachData.imageUrl} != "" )
										<img class="img-responsive pad" src="$!{eachData.imageUrl}" alt="Photo" />
										#else
										#end
										
										#if ( $!{eachData.contents} != "" )
										$!{eachData.contents}
										#else
										#end
									</div>
									<div class="timeline-footer">
										<a class="btn btn-primary btn-xs" href="$!{eachData.link}" target="_blank">Read more article</a>
									</div>
								</div>
							</li>
							#end
							
						</ul>
					</div>
				</div>
			</section>
		</div>
		<!-- #* [E] CONTENTS AREA *# -->
		
		<!-- #* [S] Common BODYBOTTOM *# -->
		#parse( "/common/bodyBottom.vm" )
		<!-- #* [E] Common BODYBOTTOM *# -->
	</div>
	<!-- #* [E]	WRAPPER *# -->
	

	<!-- #* [S] Common BODYJS *# -->
	#parse( "/common/bodyJS.vm" )
	<!-- #* [E] Common BODYJS *# -->

	<script type="text/javascript">
		jQuery(function() {
			"use strict";

			// The Calender
			jQuery("#calendar").datepicker("setDate",
					jQuery.datepicker.formatDate("yymmdd", new Date()));
		});
	</script>
</body>

<!-- #* [S] Common FOOTER *# -->
#parse( "/common/footer.vm" )
<!-- #* [E] Common FOOTER *# -->
