<!-- #* [S] COMMON HEADER *# -->
#parse( "/common/header.vm" )
<!-- #* [E] COMMON HEADER *# -->

<!-- <body class="hold-transition skin-blue sidebar-mini"> -->
<body class="skin-blue layout-boxed sidebar-mini">

	<!-- #* [S]	WRAPPER *# -->
	<div class="wrapper">
		<!-- #* [S]	COMMON GNB *# -->
		#parse( "/common/gnb.vm" )
		<!-- #* [E]	COMMON GNB *# -->

		<!-- #* [S] Common SIDEBAR *# -->
		#parse( "/common/sidebar.vm" )
		<!-- #* [E] Common SIDEBAR *# -->
		
		<!-- #* [S] CONTENTS AREA *# -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					News <small> $!{title}</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i> SungJun's Home</a></li>
					<li class="active">News</li>
				</ol>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="pull-right" style="margin-bottom:10px;">
							<div class="btn-group">
								<button type="button" class="btn btn-$!{color} btn-sm" onclick="location.href='/news/'">종합뉴스</button>
								<button type="button" class="btn btn-$!{color} btn-sm" onclick="location.href='/news/sisa'">시사뉴스</button>
								<button type="button" class="btn btn-$!{color} btn-sm" onclick="location.href='/news/sports'">스포츠뉴스</button>
								<button type="button" class="btn btn-$!{color} btn-sm" onclick="location.href='/news/entertainment'">연예뉴스</button>
		                    </div>
	                    </div>
                    </div>
				</div>
				
				#foreach( $eachData in $!{rankNewsList} )
				<div class="row">
					<div class="col-md-12">
						<div class="box box-$!{color}">
							<div class="box-header with-border">
								<div class="user-block">
									<span class="username" style="margin-left: 0px;"><a href="$!{eachData.link}" target="_blank"> $!{eachData.title}</a></span>
									
									#if ( $!{eachData.receiveDate} ) 
									<span class="time"><i class="fa fa-clock-o"></i> $!{eachData.receiveDate}</span>  
									<!-- <span class="description" style="margin-left: 0px;">Shared publicly - $!{eachData.receiveDate} Today</span>-->
									#end
									
									<span class="description pull-right" style="margin-left: 0px;">$!{eachData.cpName} </span>
			              		</div>
			              		<!-- 
								<div class="box-tools">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			                		<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
								</div>
								 -->
							</div>
							
							#if ( $!{eachData.imageUrl} && $!{eachData.contents} )
							<div class="box-body">
								#if ( $!{eachData.imageUrl} )
								<div style="text-align: center;">
									<img class="img-responsive pad" src="$!{eachData.imageUrl}" alt="Photo" style="display: inline-block;" />
								</div>
								#end
								
								#if ( $!{eachData.contents} )
								<p>$!{eachData.contents}</p>
								#end
							</div>
							#end
						</div>
					</div>
				</div>
				#end
			</section>
		</div>
		<!-- #* [E] CONTENTS AREA *# -->
		
		<!-- #* [S] Common BODYBOTTOM *# -->
		#parse( "/common/bodyBottom.vm" )
		<!-- #* [E] Common BODYBOTTOM *# -->
	</div>
	<!-- #* [E]	WRAPPER *# -->
	

	<!-- #* [S] Common BODYJS *# -->
	#parse( "/common/bodyJS.vm" )
	<!-- #* [E] Common BODYJS *# -->

	<script type="text/javascript">
		jQuery(function() {
			"use strict";
		});
	</script>
</body>

<!-- #* [S] Common FOOTER *# -->
#parse( "/common/footer.vm" )
<!-- #* [E] Common FOOTER *# -->
